.form-input {
  display: flex;
  padding: 8px 4px 8px 12px;
  flex-flow: column;
  align-items: flex-start;
  gap: 8px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);

  label {
    color: #000;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
  }

  .group {
    display: flex;
    inline-size: 100%;

    button {
      --size: 24px;

      display: flex;
      justify-content: center;
      align-items: center;
      inline-size: var(--size);
      block-size: var(--size);
      background-color: transparent;
      border: none;
      padding: 0;
      line-height: 1;
      border-radius: 6px;

      &:hover:not(:disabled, &[aria-disabled='true']) {
        background-color: rgba(0, 0, 0, 10%);
      }
    }
  }

  input {
    display: block;
    inline-size: 100%;
    border: 0;
    padding: 2px 4px;

    &::placeholder {
      color: rgba(0, 0, 0, 0.5);
      font-size: 1.4rem;
      line-height: 1;
    }
  }
}

.formInputLabel {
  color: #000;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
}
