@layer components {
  .chip {
    display: inline-flex;
    padding: 0.375rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1;
    color: #3d3d41;
    border-radius: 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    cursor: pointer;

    &[aria-pressed='true'] {
      background-color: #004fff;
      color: #fff;
    }

    &[aria-disabled='true'] {
      cursor: not-allowed;
    }
  }
}
